.action-btn {
    background: #91D6FF;
    color: #312e32;
    border: none;
    border-radius: 8px;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 1.0rem;
    min-width: 60px;
    transition: background 0.2s ease, color 0.2s ease;
}

.action-btn:hover {
    background: #6ec7fa;
}

.action-btn.fav {
    background: #91D6FF;
    font-size: 1.2rem;
    min-width: 60px;
    padding: 0.4rem 0.8rem;
    line-height: 1;
}

.action-btn.fav span {
    font-size: 1.6rem;
    line-height: 1;
    display: inline-block;
}

.action-btn.fav.active {
    color: red;
}

.action-btn.fav:not(.active) {
    color: #555;
}
